* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background: url(/img/black.jpg);
  background-position: center;
  background-size: cover;
  height: 109vh;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  height: 70px;
  float: left;
}

.logo {
  color: #ff7200;
  font-size: 40px;
  font-family: arial;
  margin-top: 5px;
  padding-left: 10px;
  float: left;
  padding-top: 10px;
}

.man {
  width: 400px;
  float: left;
  height: 70px;
  padding-left: 20px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover {
  color: #ff7200;
}

.se {
  width: 300px;
  float: left;
  margin-left: 250px;
}

.srch {
  font-family: "Times New Roman";
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn {
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  font-size: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

.btn :focus {
  outline: none;
}

.srch :focus {
  outline: none;
}

.content {
  width: 1200px;
  height: auto;
  margin: auto;
  position: relative;
}

.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: arial;
  letter-spacing: 1.2px;
  line-height: 30px;
  color: white;
}

.content h1 {
  font-family: "Times New Roman";
  font-size: 50px;
  padding-left: 30px;
  margin-top: 9%;
  letter-spacing: 2px;
  color: white;
}

.content .btn {
  width: 160px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-left: 10px;
  margin-left: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease;
}

.content .btn a {
  color: black;
  transition: 0.3s ease;
}

.btn:hover {
  background: white;
}

.content span {
  color: #ff7200;
  font-size: 60px;
}

.form {
  width: 270px;
  height: 400px;
  background: #adabab;
  position: absolute;
  margin-top: -400px;
  left: 870px;
  border-radius: 20px;
  padding: 20px;
}

.form h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background: white;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  color: black;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 20px;
  font-family: sans-serif;
  margin-left: 10px;
}

.form input:focus {
  outline: none;
}

::placeholder {
  color: white;
  font-family: sans-serif;
}

.btnn {
  width: 240px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}

.btnn:hover {
  background: #fff;
  color: #ff7200;
}

.btnn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.form .link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.form .link a {
  text-decoration: none;
  color: #ff7200;
}

.liw {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.icon {
  text-decoration: none;
  color: #ff7200;
  padding-left: 30px;
}

.icon ion-icon {
  color: white;
  font-size: 30px;
  padding-left: 5px;
  padding-top: 5px;
  transition: 0.4s ease-in-out;
}

.icon ion-icon:hover {
  color: #ff7200;
}
